.footer {
    background-color: #AA0601;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;

    @include pad() {
        padding-top: 56px;
        padding-bottom: 40px;
    }

    @include desktop() {
        padding-top: 60px;
        padding-bottom: 32px;
    }

    a {
        color: #fff;
        text-decoration: none;
        opacity: 1;
        transition: opacity .5s;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background-color: #fff;
            transition: width .5s;
        }

        &:hover {
            opacity: 0.8;

            &::after {
                width: 100%;
            }
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding-bottom: 24px;
        margin-bottom: 16px;

        @include pad() {
            padding-bottom: 32px;
            margin-bottom: 32px;
        }
    }

    &__bottom {
        @include pad() {
            display: flex;
            justify-content: space-between;
        }
    }

    &__menu {
        display: none;

        @include pad() {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
        }

        @include desktop() {
            margin-bottom: 36px;
        }

        &-item {
            margin-right: 48px;
        }
    }

    &__contact {
        &-item:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__social {
        display: flex;
        justify-content: flex-end;

        &-item {
            margin-left: 8px;

            @include pad() {
                margin-left: 16px;
            }

            @include desktop() {
                margin-left: 32px;
            }
        }
    }

    &__copyright {
        margin-bottom: 8px;

        @include pad() {
            margin-bottom: 0;
        }
    }

    &__policy {
        &-item:not(:last-child) {
            margin-bottom: 8px;
        }
        
        @include pad() {
            display: flex;
            justify-content: flex-end;

            &-item {
                margin-left: 48px;
                margin-bottom: 0;
            }
        }
    }
}