.header {
    background-color: #AA0601;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__logo {
        @include size(80px, 48.57px);
        opacity: 1;
        transition: opacity .5s;

        &:hover {
            opacity: .8;
        }
    }

    &__menu-button {
        @include pad() {
            display: none;
        }
    }

    &__menu {
        display: none;
        width: 100%;
        
        @include pad {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: auto;
        }

        &-button {
            @include size(60px, 40px);
            color: #fff;

            &-close {
                @include size(60px, 40px);
                color: #fff;
                display: none;
            }
        }

        &-item {
            font-size: 20px;
            padding: 25px 32px;
            text-align: center;

            @include pad() {
                padding: 0;
                margin-left: 64px;
                font-size: 20px;
            }

            &-link {
                color: #fff;
                text-decoration: none;
                opacity: 1;
                transition: opacity .5s;
            }

            &-link::after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background-color: #fff;
                transition: width .5s;
            }

            &-link:hover {
                opacity: .8;
            }

            &-link:hover::after {
                width: 100%;
            }
        }
    }
}