/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  max-width: 100%;
  margin: auto;
  padding: 12px; }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px; } }

.header {
  background-color: #AA0601; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    width: 80px;
    height: 48.57px;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; }
    .header__logo:hover {
      opacity: .8; }
  @media (min-width: 768px) {
    .header__menu-button {
      display: none; } }
  .header__menu {
    display: none; }
    @media (min-width: 768px) {
      .header__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .header__menu-item {
      font-size: 16px; }
      @media (min-width: 768px) {
        .header__menu-item {
          margin-left: 64px;
          font-size: 20px; } }
      .header__menu-item-link {
        color: #fff;
        text-decoration: none;
        opacity: 1;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; }
      .header__menu-item-link::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: #fff;
        -webkit-transition: width .5s;
        -o-transition: width .5s;
        transition: width .5s; }
      .header__menu-item-link:hover {
        opacity: .8; }
      .header__menu-item-link:hover::after {
        width: 100%; }

.footer {
  background-color: #AA0601;
  color: #fff; }
  .footer a {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; }
    .footer a::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: #fff;
      -webkit-transition: width .5s;
      -o-transition: width .5s;
      transition: width .5s; }
    .footer a:hover {
      opacity: 0.8; }
      .footer a:hover::after {
        width: 100%; }
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__menu {
    display: none; }
    @media (min-width: 768px) {
      .footer__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .footer__menu-item {
      margin-right: 48px; }

.banner {
  width: 100%;
  height: 396px;
  background-image: url(../images/home-header-sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right; }
  @media (min-width: 768px) {
    .banner {
      height: 787px;
      background-image: url(../images/home-header.png); } }
  .banner__title, .banner__subtitle {
    color: #650300;
    line-height: 1.5; }
  .banner__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px; }
    @media (min-width: 768px) {
      .banner__title {
        font-size: 64px;
        margin-bottom: 4px; } }
  .banner__subtitle {
    font-size: 16px; }
    @media (min-width: 768px) {
      .banner__subtitle {
        font-size: 36px; } }
  .banner__button {
    display: block;
    background-color: #AA0601;
    color: #fff;
    font-size: 20px;
    padding: 6px 12px; }

/*# sourceMappingURL=all.css.map */
