/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

.container {
  max-width: 100%;
  margin: auto;
  padding: 12px; }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.hint {
  text-align: center;
  padding: 24px; }

.page-title {
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  font-size: 48px;
  margin-bottom: 32px; }

.btn-black {
  display: block;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 16px; }
  .btn-black:hover {
    opacity: 0.8; }

.card {
  border: 1px solid #00000020; }
  .card-img {
    max-width: 100%; }
  .card-title {
    padding: 8px 24px;
    border-bottom: 1px solid #00000020; }
  .card-body {
    padding: 16px 24px; }
    .card-body li {
      margin-bottom: 8px; }

.header {
  background-color: #AA0601; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header__logo {
    width: 80px;
    height: 48.57px;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; }
    .header__logo:hover {
      opacity: .8; }
  @media (min-width: 768px) {
    .header__menu-button {
      display: none; } }
  .header__menu {
    display: none;
    width: 100%; }
    @media (min-width: 768px) {
      .header__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: auto; } }
    .header__menu-button {
      width: 60px;
      height: 40px;
      color: #fff; }
      .header__menu-button-close {
        width: 60px;
        height: 40px;
        color: #fff;
        display: none; }
    .header__menu-item {
      font-size: 20px;
      padding: 25px 32px;
      text-align: center; }
      @media (min-width: 768px) {
        .header__menu-item {
          padding: 0;
          margin-left: 64px;
          font-size: 20px; } }
      .header__menu-item-link {
        color: #fff;
        text-decoration: none;
        opacity: 1;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; }
      .header__menu-item-link::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: #fff;
        -webkit-transition: width .5s;
        -o-transition: width .5s;
        transition: width .5s; }
      .header__menu-item-link:hover {
        opacity: .8; }
      .header__menu-item-link:hover::after {
        width: 100%; }

.footer {
  background-color: #AA0601;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (min-width: 768px) {
    .footer {
      padding-top: 56px;
      padding-bottom: 40px; } }
  @media (min-width: 1400px) {
    .footer {
      padding-top: 60px;
      padding-bottom: 32px; } }
  .footer a {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; }
    .footer a::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: #fff;
      -webkit-transition: width .5s;
      -o-transition: width .5s;
      transition: width .5s; }
    .footer a:hover {
      opacity: 0.8; }
      .footer a:hover::after {
        width: 100%; }
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 24px;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .footer__top {
        padding-bottom: 32px;
        margin-bottom: 32px; } }
  @media (min-width: 768px) {
    .footer__bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .footer__menu {
    display: none; }
    @media (min-width: 768px) {
      .footer__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 32px; } }
    @media (min-width: 1400px) {
      .footer__menu {
        margin-bottom: 36px; } }
    .footer__menu-item {
      margin-right: 48px; }
  .footer__contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px; }
    @media (min-width: 768px) {
      .footer__contact-item {
        font-size: 36px; } }
  .footer__contact-item:not(:last-child) {
    margin-bottom: 8px; }
  .footer__contact-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px; }
    @media (min-width: 768px) {
      .footer__contact-icon {
        width: 36px;
        height: 36px;
        margin-right: 20px; } }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .footer__social-item {
      margin-left: 8px; }
      @media (min-width: 768px) {
        .footer__social-item {
          margin-left: 16px; } }
      @media (min-width: 1400px) {
        .footer__social-item {
          margin-left: 32px; } }
  .footer__copyright {
    margin-bottom: 8px; }
    @media (min-width: 768px) {
      .footer__copyright {
        margin-bottom: 0; } }
  .footer__policy-item:not(:last-child) {
    margin-bottom: 8px; }
  @media (min-width: 768px) {
    .footer__policy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .footer__policy-item {
        margin-left: 48px;
        margin-bottom: 0; } }

.store {
  padding-top: 40px; }
  @media (min-width: 768px) {
    .store {
      padding-top: 80px; } }
  @media (min-width: 1400px) {
    .store {
      padding-top: 96px; } }
  .store__text {
    margin-bottom: 24px; }
    @media (min-width: 768px) {
      .store__text {
        margin-bottom: 32px; } }
  .store__location {
    width: 276px;
    border: 1px solid #CED4DA;
    padding: 6px 12px; }
    @media (min-width: 768px) {
      .store__location {
        width: 304px; } }
  .store__list {
    margin-bottom: 80px; }
    .store__list-item {
      max-width: 100%;
      margin-bottom: 24px; }
      .store__list-item-icon {
        width: 18px;
        height: 18px;
        margin-right: 10px; }
    @media (min-width: 768px) {
      .store__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .store__list-item {
          width: 336px; }
          .store__list-item:not(:last-child) {
            margin-right: 24px; } }
    @media (min-width: 1400px) {
      .store__list-item {
        width: 416px;
        margin-bottom: 48px; } }

/*# sourceMappingURL=all.css.map */
